@media (min-width: 576px){
    .navbar-right {
        justify-content: flex-end!important;
    }
}

.nav-logo{
    height: 20px;
}
.input-search{
    border:0px!important;
    font-size: 18px;
    color: #000!important;
}
.navbar-light .navbar-nav .nav-link .dropdown>a{
    color: #000!important;
}
.img-search{
    opacity: 0.5;
}
a {
    color: #000;
}
.slider-font{
    font-size: 14px;
}
.button-load{
margin: 10px;
}

.footer-color{
    columns: #111111;!important;
}
.footer-li{
    padding-left:5px;
    padding-right: 5px;
   
}
.footer-li-first{
    border-right: #f9f5f5 1px solid;
}
.banner{
    width: 100%;
}
.m-t-15{
    margin-top: 15px;
}
.img-icon{
    color:yellow;
}
.left-0{
    margin-left: 0px;
    padding-left: 0px;
}
.m-b-20{
    margin-bottom: 50px;
}
.p-lr-15{
    padding-left:15px;
    padding-right:15px;
   
}
.img-banner{
    height: 230px;
    width: 100%;
}
.img-over{
    margin-right: -13px;
    margin-top: -13px;
}

element.style {
    text-align: right;
}
.m-t-15 {
    margin-top: 15px;
}
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1{
    text-align: right;
}
.bg-color{
    background-color: #e5e5e5;
}
.logo{
    height: 35;
    width: 70;
}
.btn-poslink{
    background-color: #949599;
    border-color: #949599;
    color: #fff;
}